.Grudge-remove {
  background-color: white;
  color: #f65e81;
  border: none;
  margin-left: 1em;
  outline: none;
  padding: 0;
}

.Grudge-remove:hover {
  background-color: white;
  text-decoration: underline;
}

.Grudge {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .8rem;
  text-transform: none !important;
  text-align: left;
}