html,
* {
  box-sizing: border-box;
}

body,
h2 {
  font-size: 1.3em;
  margin: 0.67em 0;
  color: #3370aa;
  text-transform: uppercase;
  font-family: monospace;
  text-align: center
}

input {
  font: message-box;
}

input {
  padding: 0.5em;
  border: 2px solid #3370aa;
  background-color: #a9acbd;
  border-radius: 3px;
}

button,
.button,
input[type="submit"] {
  background-color: #3370aa;
  border: 1px solid #f6b749;
  color: #f6b749;
  padding: 0.5em;
  transition: all 0.2s;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
  background-color: #f6b749;
  color: #3370aa;
  border: 1px solid #3370aa;
  border-radius: 3px;
}

button:active,
.button:active,
input[type="submit"]:active {
  background-color: #f4466e;
}

button.full-width,
.button.full-width,
input[type="submit"].full-width {
  width: 100%;
  margin: 1em 0;
}